
footer{
    width: 100%;
    bottom: 20px;
    position: fixed;
    left: 0;
    height: 50px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* back-to-box-button Farbe */
#pink{
    background-color: #e40a6d;
    
  }
