* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    display: flex;
    width: 50vh;
    margin: auto;
}

/* back-to-box-button Farbe */
#green{
    background-color: chartreuse;
}