* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container-button {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}


img {
    display: flex;
    width: 50vh;
    margin: auto;
}

/* back-to-box-button Farbe */
#magenta{
    background-color: #b83ae5;
}

/* Zustand-button  */
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7{
    height: 30px;
    margin: 5px;
    padding: 0px 15px;
    border-radius: 6px;
    font-size: 13px;
    border: none;
    text-decoration: none;
    font-family: "dunbar tall";
    background-color: #aa95b1;
    color: rgb(255, 255, 255);
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}
