/* back-to-box-button Farbe */
#magenta{
    background-color: #b83ae5;
}

/* Div der Buttons */
.container-statebuttons {
    text-align: center;
    margin-bottom: 70px;
    display:flex;
    justify-content: center;
    
} 

/* Zustand-button  */
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7 {
    height: 30px;
    margin: 5px;
    padding: 0px 15px;
    border-radius: 6px;
    font-size: 13px;
    border: none;
    text-decoration: none;
    font-family: "dunbar tall";
    background-color: #1e1b3d;
    color: rgb(255, 255, 255);
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    position: relative;
    bottom: -30px;
}

p{
    color: #b83ae5;
    margin-left: 40px;;
    font-family: Avenir;
    font-size: 11px;
    /* text-align: center; */
}

.text{
    font-family: Avenir;
    padding: 60px;
    display:flex;
    width:60%;
}

.bild-flex{
    display: flex;
    height: 400px;
    width:40%;

}

img{
    top: -300px;
    align-self: center;
width: 60%;
}

@media(max-width: 990px){
    .bild-flex {
      flex: 0 0 calc(55% - 30px);
    }
    .text{
        padding:30px;
        width:80%;
    }
}