* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
	line-height: 1.5;
    font-family: "dunbar tall";
	/* font-family: sans-serif;
    font-family: 'Courier New', Courier, monospace; */

    margin-left: auto;
    margin-right: auto; 

    display: flex;
    justify-content: center;
}



  header {
    font-family: "dunbar tall";
    width: 100%;
    left: 0px;
    height: 100px;
    /* margin-top: 20px; */
    /* margin:20px; */
    
    
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

h1 {
    color: rgb(172, 172, 172);
    font-size: 13px;
    margin-top:20px;
    padding-left:20px;
    /* padding:20px; */
}

h2 {
    font-size: 40px;
    text-align: center;
    padding-top:10px;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    
  }
footer{
    width: 100%;
    bottom: 20px;
    position: fixed;
    left: 0;
    height: 50px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

