

.bild{
    width: 50%;
    /* height: auto; */
    justify-content: center;
    display:flex;
}

img {
    max-width: 500px;
    height: auto;
    
  }

.text{
    width:50%;
    justify-content: center;
    
    padding:20px;
    display: table;
}

p{
    margin: 20px;
    
    display: table-cell;
    vertical-align: middle;
}

/* Back-To-Box Button Color */
#orange{
    background-color: #ff8e15;
}
  