

.bild{
    width: 50%;
    /* height: auto; */
    justify-content: center;
}

img {
    max-width: 500px;
    height: auto;
    
  }

.text{
    width:50%;
    justify-content: center;
    
    padding:20px;
}

button{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
    padding:10px 15px;
    cursor: pointer;
    font-family: "dunbar tall";
}
  